POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=taskflow
POSTGRES_USER=taskflow
POSTGRES_PASSWORD=taskflow_secret
JWT_SECRET=IZLBxAN2q/BckdSyABcspGms0D0yo+wKHb9YPIamuIA=
JWT_EXPIRATION_MS=86400000
BCRYPT_STRENGTH=12